<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>menu-menu.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>266</integer>
			<key>width</key>
			<integer>282</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>282</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>menu-play.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>399</integer>
			<key>width</key>
			<integer>200</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>200</integer>
			<key>originalHeight</key>
			<integer>97</integer>
		</dict>
		<key>menu-resume.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>210</integer>
			<key>width</key>
			<integer>384</integer>
			<key>height</key>
			<integer>56</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>384</integer>
			<key>originalHeight</key>
			<integer>56</integer>
		</dict>
		<key>sb-logo.png</key>
		<dict>
			<key>x</key>
			<integer>385</integer>
			<key>y</key>
			<integer>210</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>275</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>119</integer>
			<key>originalHeight</key>
			<integer>275</integer>
		</dict>
		<key>novasa-logo.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>0</integer>
			<key>width</key>
			<integer>512</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>512</integer>
			<key>originalHeight</key>
			<integer>85</integer>
		</dict>
		<key>menu-about.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>322</integer>
			<key>width</key>
			<integer>281</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>281</integer>
			<key>originalHeight</key>
			<integer>77</integer>
		</dict>
		<key>instructions.png</key>
		<dict>
			<key>x</key>
			<integer>0</integer>
			<key>y</key>
			<integer>85</integer>
			<key>width</key>
			<integer>452</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>452</integer>
			<key>originalHeight</key>
			<integer>125</integer>
		</dict>
		<key>menu-icon.png</key>
		<dict>
			<key>x</key>
			<integer>452</integer>
			<key>y</key>
			<integer>85</integer>
			<key>width</key>
			<integer>36</integer>
			<key>height</key>
			<integer>31</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>36</integer>
			<key>originalHeight</key>
			<integer>31</integer>
		</dict>
	</dict>
</dict>
</plist>